* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 5rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
}

.header {
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-intro {
  padding: 8rem 0;
  background-color: #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-about {
  padding: 8rem 0;
  background-image: url(../imgs/dubai-water.jpg);
  background-size: cover;
}

.section-join {
  background-color: #000;
  padding: 8rem 0;
}

.section-final {
  background-color: #eee;
  padding: 8rem 0;
}

.heading-box {
  color: #fff;
  width: 50%;
}
.heading-box__heading--main {
  font-size: 6rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
}
.heading-box__heading--main > span {
  color: #000;
  background-image: linear-gradient(to right, #FF3366, #BA265D);
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 500;
}
.heading-box__heading--sub {
  font-size: 3rem;
  font-weight: 400;
}
.heading-box__heading--sub > span {
  color: #eb2f64;
  font-weight: 200;
  font-style: italic;
}

.photo-box {
  height: 90%;
  transform: rotate(20deg);
  overflow: hidden;
  background-color: white;
}
.photo-box__photo {
  transform: rotate(-20deg) translate(0, 4.5rem);
  width: 100%;
  height: 100%;
}

.composition {
  position: relative;
  width: 50%;
  height: 55rem;
}
.composition__photo {
  position: absolute;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  outline: 1px solid #eb2f64;
  outline-offset: 1.5rem;
  transition: all 0.2s;
}
.composition__photo--1 {
  width: 50%;
  top: 8rem;
  left: 5rem;
}
.composition__photo--2 {
  width: 35%;
  top: 25rem;
  left: 20rem;
}

.intro {
  padding: 0 10rem;
  width: 50%;
}
.intro__heading {
  font-size: 4.5rem;
  font-weight: 200;
  margin-bottom: 2rem;
}
.intro__text {
  font-size: 2rem;
  font-weight: 300;
}
.intro__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8rem;
}

.about-heading {
  text-align: center;
  margin-bottom: 5rem;
}
.about-heading__text {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}
.about-heading__name {
  font-size: 5rem;
  font-weight: 500;
  background-image: linear-gradient(to right, #ff3366, #ba265d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
}

.about {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__row {
  background-image: linear-gradient(to right, rgba(255, 51, 102, 0.75), rgba(186, 38, 93, 0.75));
  color: #fff;
  width: 90%;
  padding: 2rem 1.5rem;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__row:not(:last-child) {
  margin-bottom: 2rem;
}
.about__row:hover {
  transform: translateY(-0.5rem) scale(1.05);
}
.about__icon {
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.about__text {
  width: 80%;
  font-size: 2rem;
  font-weight: 200;
}

.cta {
  text-align: center;
}
.cta__text {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #fff;
  padding-bottom: 1.5rem;
}
.cta__icon {
  color: #fff;
  height: 4rem;
  width: 4rem;
}

.join-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.candidate {
  width: 40%;
  color: #fff;
}
.candidate__heading {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 3.5rem;
}
.candidate__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.candidate__item:not(:last-child) {
  margin-bottom: 2rem;
}
.candidate__text {
  width: 90%;
  font-size: 2rem;
  font-weight: 200;
}
.candidate__icon {
  color: #eb2f64;
  width: 2.5rem;
  height: 2.5rem;
}

.tycoon {
  width: 40%;
}
.tycoon__heading {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}
.tycoon__heading--main {
  display: block;
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.tycoon__heading--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ff3366, #ba265d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
}
.tycoon__logo-box {
  width: 15%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tycoon__logo {
  width: 100%;
}
.tycoon__logo-text {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.tycoon__video-box {
  width: 60%;
  margin: auto;
}
.tycoon__video {
  width: 100%;
  height: 100%;
}

.final-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.special {
  width: 40%;
  text-align: center;
}
.special__heading {
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.special__text {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 2.5rem;
}
.special__text > span {
  color: #eb2f64;
  font-weight: 600;
}
.special__video-box {
  width: 45%;
  display: inline-block;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  margin: 0 0.5rem;
}
.special__video {
  width: 100%;
  height: 100%;
}

.start {
  width: 40%;
  text-align: center;
}
.start__heading {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 200;
  color: #eb2f64;
  margin-bottom: 3rem;
}
.start__text {
  font-size: 2.5rem;
  font-weight: 300;
}
.start__text:not(:last-child) {
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, #FF3366, #BA265D);
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn__visible {
  display: inline-block;
  padding: 2rem 7.5rem;
  transition: all 0.2s;
}
.btn__invisible {
  padding: 2rem 0;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  transition: all 0.2s;
}
.btn:hover {
  background-image: linear-gradient(to left, #FF3366, #BA265D);
}
.btn:hover .btn__visible {
  transform: translateY(100%);
}
.btn:hover .btn__invisible {
  top: 0;
}
.btn:focus {
  outline: none;
  animation: pulsate 1s infinite;
}